@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-dark: whitesmoke;
  --bg-dark: #111111;
  --primary-light: #111111;
  --bg-light: whitesmoke;
  --highlight: #25ced1;
  --divider: rgb(164, 164, 164);
  --border: rgb(164, 164, 164);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Mono", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--bg-dark);
  color: var(--primary-dark);
  transition: all 400ms ease-in-out;
  height: 100%;
  width: 100%;
}

.light {
  background-color: var(--bg-light);
  color: var(--primary-light);
}

header {
  width: 100%;
  min-height: 12.5%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

main {
  width: 100%;
  min-height: 75%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

a,
p {
  font-size: 1.1rem;
}