.home {
  padding: 3rem 8rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  border-top: var(--divider) 1px solid;
  border-bottom: var(--divider) 1px solid;
}

.home > h1 {
  font-size: 5rem;
  background: linear-gradient(to right, #9400D3 10%, #33d2ff 50%, #39FF14 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: nameMoveColor 6s linear infinite;
  text-align: center;
}

@keyframes nameMoveColor {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.home > p {
  font-size: 1.25rem;
}

.home > div {
  display: flex;
  height: 15%;
  width: auto;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.home > div > p {
  text-align: center;
  font-size: 1.5rem;
  border: var(--border) 2px solid;
  border-radius: 12px;
  padding: 1rem;
  transition: all 400ms ease-in-out;
}

.home > div > p:hover {
  cursor: pointer;
}

@media (max-width: 700px) {
  .home {
    padding: 3rem 1.5rem;
  }

  .home > h1 {
    font-size: 4rem;
  }

  .home > p {
    font-size: 1rem;
    text-align: center;
  }

  .home > div > p {
    font-size: 1.25rem;
  }
}

@media (min-width: 1025px) {
  .home > div > p:hover {
    transform: scale(1.1);
  }
}